*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {

  --bg-color:#F3EFEC;
  --text-color:#312A4E;
  --accent-color:#FFAB6B;
  --main-font: 'Raleway', sans-serif;
  --accent-font:'STIX Two Text', sans-serif;
}




.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
  font-family: var(--main-font, Arial, sans-serif);
  color: var(--text-color) #312A4E;

  
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding-top: 10%;
}


.heading {
  font-family: var(--accent-font, Arial, sans-serif);
  line-height: 90%;
  font-weight: 600;
  text-align: center;
}


.content-section {
  padding: 0 5vw;

}

.header__title {
  margin-bottom: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.content__title {
  font-size: 30px;
  margin: 7% 0  2.5%;

}


.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-bottom: 1.5em;
}

.content__text-block__link {
  color: currentColor;
}


.content__blockquote {
  width: 75%;
  font-style: italic;
  line-height: 200%;
  margin: 0 auto 1.5em;
}


.content__list {
  list-style: none;
  padding: 0 0 0 40;
}

.content__list .content__list__item {
  position: relative;
}

.content__list .content__list__item::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url('../images/marker-light.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -7.5px;
  top: 50%;
  left: -25px;

}

.content__list li:not(:last-of-type) {
  margin-bottom: 10px;
}


.content__text-block_type_first-lettered::first-letter {
  display: inline-block;
  background-color: var(--accent-color);
  padding: 0 4px;
  margin-left: 1px;
  font-size: 30px;
  font-weight: 700;

}


.content__figure {
  margin: 7% auto;
  width: calc(100% + 2 * 5vi);
  position: relative;
  left: calc(-5vi);
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: 18px;
  border-bottom: 1px solid var(--text-color);
}